<h1>Product</h1>
<table>
    <tr>
        <th>Name</th>
        <td>{{product.name}}</td>
    </tr>
    <tr>
        <th>Price</th>
        <td>{{product.price}}</td>
    </tr>
</table>
<form method='POST' action='/products/{{product.id}}?_method=DELETE'>
    <input type='submit' value='DELETE' />
</form>