<!-- views/pages/about.hbs -->
<h1>About us</h1>
<p>This is a web application designed to manage products, developed under the MVC design pattern using NodeJS, Express and Handlebars.</p>
<a href="./">Home</a>